name: Build and Test .NET

on:
  workflow_call:
    inputs:
      project-name:
        description: 'The .NET project to work with'
        required: true
        type: string
      dotnet-version:
        required: false
        type: string
        default: '9.0.x'

env:
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    continue-on-error: false

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # releases v5.0.0

      - name: Setup .NET, Check the version, Restore, Build and Test
        uses: VKalenski/GitHub-Actions-Templates/.github/actions/dotnet-version@1.0.1
        with:
          project-name: ${{ inputs.project-name }}
          dotnet-version: ${{ inputs.dotnet-version }}
